body{
  /* margin-bottom: 20px; */
}
.App {
  text-align: center;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2% !important;

}

.card{
  margin: 20px !important;
}

.cartContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2% !important;
}

h2{
  background-color: #18a1b7;
  color: white;
  /* background-color: #bfedf4; */
}
